<form [formGroup]="convertForm" class="labelInputGroup {{showResultPage ? 'hide' : ''}}" (ngSubmit)="convert()">
  <label for="amount" class="labelInputGroup">
    <p class="label">Enter the {{measurementType().toLowerCase()}} to convert</p>
    <input id="amount" class="input" type="number" formControlName="amount">
  </label>

  <label for="fromUnit" class="labelInputGroup">
    <p class="label">Unit to convert from</p>
    <select class="input selectInput" formControlName="fromUnit">
      @for (fromUnit of fromUnits; track fromUnit.unit) {
      <option [ngValue]="fromUnit">{{fromUnit.unit}} ({{fromUnit.symbol}})</option>
      }
    </select>
  </label>

  <label for="toUnit" class="labelInputGroup">
    <p class="label">Unit to convert to</p>
    <select class="input selectInput" formControlName="toUnit">
      @for (toUnit of toUnits; track toUnit.unit) {
      <option [ngValue]="toUnit">{{toUnit.unit}} ({{toUnit.symbol}})</option>
      }
    </select>
  </label>

  <hr>
  <button class="button" type="submit" [disabled]="!convertForm.valid">
    Convert
  </button>
</form>

<div id="resultPage" class="labelInputGroup {{!showResultPage ? 'hide' : ''}}">
  <h2>Result of your calculation</h2>
  <p class="result">{{this.convertForm.value.amount}} {{this.convertForm.value.fromUnit?.symbol}} =
    {{this.convertedAmount}}
    {{this.convertForm.value.toUnit?.symbol}}</p>
  <button class="button" (click)="resetPage()">Reset</button>
</div>